<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_s2_attack50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1310},{156,194}}</string>
                <key>offset</key>
                <string>{-36,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,470},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{164,192}}</string>
                <key>offset</key>
                <string>{-39,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,472},{164,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1468},{166,192}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,472},{166,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1310},{166,192}}</string>
                <key>offset</key>
                <string>{-35,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,473},{166,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1678},{166,190}}</string>
                <key>offset</key>
                <string>{-26,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,477},{166,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1870},{166,172}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,478},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1636},{150,180}}</string>
                <key>offset</key>
                <string>{20,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,475},{150,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50007.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1122},{186,246}}</string>
                <key>offset</key>
                <string>{46,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,430},{186,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{178,378}}</string>
                <key>offset</key>
                <string>{43,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,311},{178,378}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50009.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,386},{246,384}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,309},{246,384}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50010.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{244,382}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,311},{244,382}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50011.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,592},{222,372}}</string>
                <key>offset</key>
                <string>{35,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,321},{222,372}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50012.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,772},{264,334}}</string>
                <key>offset</key>
                <string>{51,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,359},{264,334}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50013.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,816},{304,352}}</string>
                <key>offset</key>
                <string>{81,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,341},{304,352}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,296}}</string>
                <key>offset</key>
                <string>{147,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,400},{386,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50015.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{386,294}}</string>
                <key>offset</key>
                <string>{147,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,402},{386,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50016.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,298},{384,292}}</string>
                <key>offset</key>
                <string>{147,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,403},{384,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{380,288}}</string>
                <key>offset</key>
                <string>{146,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,408},{380,288}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{360,272}}</string>
                <key>offset</key>
                <string>{139,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,424},{360,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{328,224}}</string>
                <key>offset</key>
                <string>{126,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,467},{328,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50020.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1108},{282,232}}</string>
                <key>offset</key>
                <string>{102,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,455},{282,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{242,240}}</string>
                <key>offset</key>
                <string>{83,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,442},{242,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1870},{176,152}}</string>
                <key>offset</key>
                <string>{85,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{509,503},{176,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50023.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1478},{150,166}}</string>
                <key>offset</key>
                <string>{52,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,494},{150,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50024.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1818},{140,178}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,486},{140,178}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack50025.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1678},{146,186}}</string>
                <key>offset</key>
                <string>{-17,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,478},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_s2_attack5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62b756ecd03e494993581a8befe1ef68$</string>
            <key>textureFileName</key>
            <string>p1_s2_attack5.png</string>
        </dict>
    </dict>
</plist>
