<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_s2_attack10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,202},{144,194}}</string>
                <key>offset</key>
                <string>{-30,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,469},{144,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,398},{162,186}}</string>
                <key>offset</key>
                <string>{-32,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,474},{162,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{158,182}}</string>
                <key>offset</key>
                <string>{-21,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,479},{158,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,850},{166,188}}</string>
                <key>offset</key>
                <string>{-17,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,473},{166,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,738},{180,200}}</string>
                <key>offset</key>
                <string>{-15,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,461},{180,200}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,258}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,402},{180,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{170,238}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,420},{170,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{150,214}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,444},{150,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,188},{138,184}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,474},{138,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{234,160}}</string>
                <key>offset</key>
                <string>{55,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,503},{234,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,502},{200,176}}</string>
                <key>offset</key>
                <string>{43,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{455,488},{200,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{142,184}}</string>
                <key>offset</key>
                <string>{15,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,480},{142,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,196},{144,186}}</string>
                <key>offset</key>
                <string>{14,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,478},{144,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,658},{144,190}}</string>
                <key>offset</key>
                <string>{13,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,474},{144,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{142,192}}</string>
                <key>offset</key>
                <string>{11,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,472},{142,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,704},{132,196}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,468},{132,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{142,198}}</string>
                <key>offset</key>
                <string>{11,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,466},{142,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,262},{172,198}}</string>
                <key>offset</key>
                <string>{27,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,465},{172,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{154,198}}</string>
                <key>offset</key>
                <string>{14,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,465},{154,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,462},{144,194}}</string>
                <key>offset</key>
                <string>{-30,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,469},{144,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_s2_attack1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2b711ce973ac17b850061dfb07c1c15$</string>
            <key>textureFileName</key>
            <string>p1_s2_attack1.png</string>
        </dict>
    </dict>
</plist>
