<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<array>
			<dict>
				<key>animateName</key>
				<string>attack1</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_attack1.plist</string>
				<key>frameTotal</key>
				<integer>21</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
			<dict>
				<key>animateName</key>
				<string>attack2</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_attack2.plist</string>
				<key>frameTotal</key>
				<integer>22</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
			<dict>
				<key>animateName</key>
				<string>attack3</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_attack3.plist</string>
				<key>frameTotal</key>
				<integer>26</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
			<dict>
				<key>animateName</key>
				<string>attack4</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_attack4.plist</string>
				<key>frameTotal</key>
				<integer>31</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
			<dict>
				<key>animateName</key>
				<string>attack5</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_attack5.plist</string>
				<key>frameTotal</key>
				<integer>26</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
			<dict>
				<key>animateName</key>
				<string>death</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_death.plist</string>
				<key>frameTotal</key>
				<integer>32</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
			<dict>
				<key>animateName</key>
				<string>hit</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_hit.plist</string>
				<key>frameTotal</key>
				<integer>14</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
			<dict>
				<key>animateName</key>
				<string>run</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_run.plist</string>
				<key>frameTotal</key>
				<integer>16</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
			<dict>
				<key>animateName</key>
				<string>wait</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_wait.plist</string>
				<key>frameTotal</key>
				<integer>17</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
			<dict>
				<key>animateName</key>
				<string>win</string>
				<key>plistFilePath</key>
				<string>images/roles/p1_s2/p1_s2_win.plist</string>
				<key>frameTotal</key>
				<integer>26</integer>
				<key>delay</delay>
				<float>0.1</float>
				<key>restoreOriginalFrame</key>
				</false>
			</dict>
		</array>
		<key>metaData</key>
		<dict>
			<key>bodyHeight</key>
			<string>211</string>
			<key>bodyPos</key>
			<string>{504.833,454}</string>
			<key>bodyWidth</key>
			<string>119</string>
			<key>centerPoint</key>
			<string>{506.167,447.833}</string>
			<key>footPoint</key>
			<string>{503.369,374.198}</string>
			<key>height</key>
			<string>127</string>
			<key>hitPoint</key>
			<string>{499.667,482.667}</string>
			<key>width</key>
			<string>137</string>
		</dict>
	</dict>
</plist>
