<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_s2_win0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{156,194}}</string>
                <key>offset</key>
                <string>{-35,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,471},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{138,186}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,479},{138,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{132,170}}</string>
                <key>offset</key>
                <string>{17,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,495},{132,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,852},{132,156}}</string>
                <key>offset</key>
                <string>{15,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,509},{132,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{120,168}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{459,497},{120,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{136,184}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,481},{136,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,586},{140,176}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,489},{140,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,518},{140,170}}</string>
                <key>offset</key>
                <string>{-27,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,495},{140,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,172},{150,168}}</string>
                <key>offset</key>
                <string>{-32,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,497},{150,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,514},{144,168}}</string>
                <key>offset</key>
                <string>{-29,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,497},{144,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,342},{148,166}}</string>
                <key>offset</key>
                <string>{-31,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,499},{148,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,684},{150,166}}</string>
                <key>offset</key>
                <string>{-32,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,499},{150,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,514},{148,166}}</string>
                <key>offset</key>
                <string>{-31,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,499},{148,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{146,168}}</string>
                <key>offset</key>
                <string>{-30,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,497},{146,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,124},{150,166}}</string>
                <key>offset</key>
                <string>{-32,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,499},{150,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,764},{154,170}}</string>
                <key>offset</key>
                <string>{-34,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,495},{154,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,174},{152,170}}</string>
                <key>offset</key>
                <string>{-33,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,495},{152,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,344},{150,168}}</string>
                <key>offset</key>
                <string>{-32,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,497},{150,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{152,168}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,497},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{152,170}}</string>
                <key>offset</key>
                <string>{-33,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,495},{152,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,174},{152,168}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,497},{152,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,346},{140,170}}</string>
                <key>offset</key>
                <string>{-27,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,495},{140,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,394},{130,172}}</string>
                <key>offset</key>
                <string>{-18,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,493},{130,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,774},{138,180}}</string>
                <key>offset</key>
                <string>{-15,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,485},{138,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{148,190}}</string>
                <key>offset</key>
                <string>{-23,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,475},{148,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_win0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,194}}</string>
                <key>offset</key>
                <string>{-35,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,471},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_s2_win.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69da544ca16d933ba80670c63dd30ffc$</string>
            <key>textureFileName</key>
            <string>p1_s2_win.png</string>
        </dict>
    </dict>
</plist>
