<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1072},{222,236}}</string>
                <key>offset</key>
                <string>{-59,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,554},{222,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{230,238}}</string>
                <key>offset</key>
                <string>{-65,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,549},{230,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,856},{238,238}}</string>
                <key>offset</key>
                <string>{-70,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,548},{238,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{248,234}}</string>
                <key>offset</key>
                <string>{-75,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,556},{248,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,630},{256,224}}</string>
                <key>offset</key>
                <string>{-79,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,567},{256,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{260,218}}</string>
                <key>offset</key>
                <string>{-81,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,574},{260,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,410},{262,218}}</string>
                <key>offset</key>
                <string>{-82,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,575},{262,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,426},{260,216}}</string>
                <key>offset</key>
                <string>{-82,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,575},{260,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,644},{246,216}}</string>
                <key>offset</key>
                <string>{-75,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,574},{246,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{222,218}}</string>
                <key>offset</key>
                <string>{-62,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,572},{222,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1282},{204,218}}</string>
                <key>offset</key>
                <string>{-53,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,572},{204,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1322},{190,218}}</string>
                <key>offset</key>
                <string>{-54,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,572},{190,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1514},{182,204}}</string>
                <key>offset</key>
                <string>{-49,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,585},{182,204}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1086},{194,234}}</string>
                <key>offset</key>
                <string>{-25,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,555},{194,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{312,194}}</string>
                <key>offset</key>
                <string>{33,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,595},{312,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,206},{296,202}}</string>
                <key>offset</key>
                <string>{12,-191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,602},{296,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,210},{264,214}}</string>
                <key>offset</key>
                <string>{-7,-203}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,608},{264,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,862},{238,222}}</string>
                <key>offset</key>
                <string>{-18,-208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,609},{238,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1096},{228,224}}</string>
                <key>offset</key>
                <string>{-26,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,610},{228,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,850},{240,220}}</string>
                <key>offset</key>
                <string>{-19,-207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,609},{240,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{280,216}}</string>
                <key>offset</key>
                <string>{3,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,602},{280,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{326,202}}</string>
                <key>offset</key>
                <string>{29,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,595},{326,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,202}}</string>
                <key>offset</key>
                <string>{41,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,588},{346,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{316,206}}</string>
                <key>offset</key>
                <string>{31,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,584},{316,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,604},{244,210}}</string>
                <key>offset</key>
                <string>{-1,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,580},{244,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,426},{176,212}}</string>
                <key>offset</key>
                <string>{-29,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,578},{176,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1488},{170,214}}</string>
                <key>offset</key>
                <string>{-29,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,576},{170,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1296},{198,216}}</string>
                <key>offset</key>
                <string>{-50,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,574},{198,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack2.pvr.gz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70760adb26605333919ac1d0916fa68c:10dad7b3105ab7eba6822c59a529c2be:94d903d371486b7c4827d6d7d7d134b8$</string>
            <key>textureFileName</key>
            <string>attack2.pvr.gz</string>
        </dict>
    </dict>
</plist>
