<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1444},{222,236}}</string>
                <key>offset</key>
                <string>{-59,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,554},{222,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{210,234}}</string>
                <key>offset</key>
                <string>{-51,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,556},{210,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1040},{194,230}}</string>
                <key>offset</key>
                <string>{-40,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,566},{194,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,806},{178,232}}</string>
                <key>offset</key>
                <string>{-34,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,574},{178,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1272},{170,238}}</string>
                <key>offset</key>
                <string>{-36,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,568},{170,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1058},{190,258}}</string>
                <key>offset</key>
                <string>{-48,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,532},{190,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{220,256}}</string>
                <key>offset</key>
                <string>{-79,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,505},{220,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1250},{252,222}}</string>
                <key>offset</key>
                <string>{-95,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,519},{252,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{284,208}}</string>
                <key>offset</key>
                <string>{-105,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,520},{284,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,200},{302,204}}</string>
                <key>offset</key>
                <string>{-102,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,522},{302,204}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,406},{316,200}}</string>
                <key>offset</key>
                <string>{-94,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,533},{316,200}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,806},{270,216}}</string>
                <key>offset</key>
                <string>{-68,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,549},{270,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1238},{220,254}}</string>
                <key>offset</key>
                <string>{-29,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,523},{220,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,314},{342,160}}</string>
                <key>offset</key>
                <string>{30,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,624},{342,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{346,154}}</string>
                <key>offset</key>
                <string>{30,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,630},{346,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{352,150}}</string>
                <key>offset</key>
                <string>{34,-199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,636},{352,150}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,152}}</string>
                <key>offset</key>
                <string>{36,-199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,635},{356,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,154},{350,158}}</string>
                <key>offset</key>
                <string>{36,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,631},{350,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{342,166}}</string>
                <key>offset</key>
                <string>{34,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,624},{342,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,476},{336,170}}</string>
                <key>offset</key>
                <string>{31,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,620},{336,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{308,196}}</string>
                <key>offset</key>
                <string>{17,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,594},{308,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,842},{270,214}}</string>
                <key>offset</key>
                <string>{5,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,576},{270,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1474},{220,214}}</string>
                <key>offset</key>
                <string>{-10,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,576},{220,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{180,216}}</string>
                <key>offset</key>
                <string>{-27,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,574},{180,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1460},{170,226}}</string>
                <key>offset</key>
                <string>{-42,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,566},{170,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{184,264}}</string>
                <key>offset</key>
                <string>{-45,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,531},{184,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,648},{192,282}}</string>
                <key>offset</key>
                <string>{-45,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,513},{192,282}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,608},{196,288}}</string>
                <key>offset</key>
                <string>{-45,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,507},{196,288}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{200,278}}</string>
                <key>offset</key>
                <string>{-45,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,515},{200,278}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1024},{212,260}}</string>
                <key>offset</key>
                <string>{-52,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,530},{212,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack1.pvr.gz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7514e746a1ac311eb97bb07af4ea67ff:57941d7c4a034cbb47f627c76c8d2a78:b864b9f4f0ce54f2214df3fdbb53c4ce$</string>
            <key>textureFileName</key>
            <string>attack1.pvr.gz</string>
        </dict>
    </dict>
</plist>
