<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,284},{212,236}}</string>
                <key>offset</key>
                <string>{-64,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,554},{212,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,296},{182,272}}</string>
                <key>offset</key>
                <string>{-41,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,530},{182,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,498},{230,258}}</string>
                <key>offset</key>
                <string>{-98,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,532},{230,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,480},{270,256}}</string>
                <key>offset</key>
                <string>{-111,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,534},{270,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,290},{282,264}}</string>
                <key>offset</key>
                <string>{-109,-146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,526},{282,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{288,264}}</string>
                <key>offset</key>
                <string>{-103,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,517},{288,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{280,264}}</string>
                <key>offset</key>
                <string>{-89,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,506},{280,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{254,286}}</string>
                <key>offset</key>
                <string>{-65,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,483},{254,286}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,314}}</string>
                <key>offset</key>
                <string>{-31,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,458},{186,314}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{278,192}}</string>
                <key>offset</key>
                <string>{17,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,579},{278,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,196},{276,98}}</string>
                <key>offset</key>
                <string>{38,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,673},{276,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{278,102}}</string>
                <key>offset</key>
                <string>{37,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,673},{278,102}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,318},{288,96}}</string>
                <key>offset</key>
                <string>{35,-219}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,683},{288,96}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>die_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{292,94}}</string>
                <key>offset</key>
                <string>{33,-225}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,690},{292,94}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>die.pvr.gz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84d54bc100ea120086db7c2b7ef70d62:5aacb05fc73cee973847b78d46fa86a4:0f91dd83df4b55c8018e59eee6d3a9fd$</string>
            <key>textureFileName</key>
            <string>die.pvr.gz</string>
        </dict>
    </dict>
</plist>
