<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{234,208}}</string>
                <key>offset</key>
                <string>{-86,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,568},{234,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1492},{242,202}}</string>
                <key>offset</key>
                <string>{-81,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,575},{242,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,854},{250,210}}</string>
                <key>offset</key>
                <string>{-75,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,579},{250,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{248,218}}</string>
                <key>offset</key>
                <string>{-77,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,579},{248,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,630},{250,222}}</string>
                <key>offset</key>
                <string>{-78,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,579},{250,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{256,226}}</string>
                <key>offset</key>
                <string>{-77,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,577},{256,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{258,230}}</string>
                <key>offset</key>
                <string>{-77,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,573},{258,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,232}}</string>
                <key>offset</key>
                <string>{-77,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,569},{258,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{256,230}}</string>
                <key>offset</key>
                <string>{-78,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,569},{256,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{256,226}}</string>
                <key>offset</key>
                <string>{-78,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,570},{256,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{254,222}}</string>
                <key>offset</key>
                <string>{-77,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,573},{254,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1274},{252,216}}</string>
                <key>offset</key>
                <string>{-76,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,576},{252,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1066},{250,206}}</string>
                <key>offset</key>
                <string>{-77,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,577},{250,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,222},{246,202}}</string>
                <key>offset</key>
                <string>{-79,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,576},{246,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,426},{244,202}}</string>
                <key>offset</key>
                <string>{-82,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,575},{244,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{242,206}}</string>
                <key>offset</key>
                <string>{-84,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,571},{242,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1588},{238,206}}</string>
                <key>offset</key>
                <string>{-86,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,570},{238,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>run_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1796},{234,208}}</string>
                <key>offset</key>
                <string>{-87,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,568},{234,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run.pvr.gz</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bd69176f5adc7fefd565f2f86aa0ab9:4374fdc3a9c790ca1de886acf42d85d7:68097f6d84568dc9072fe0c672f483cc$</string>
            <key>textureFileName</key>
            <string>run.pvr.gz</string>
        </dict>
    </dict>
</plist>
