<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,232},{220,244}}</string>
                <key>offset</key>
                <string>{-60,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,553},{220,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{218,244}}</string>
                <key>offset</key>
                <string>{-60,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,553},{218,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,468},{218,244}}</string>
                <key>offset</key>
                <string>{-60,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,552},{218,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{220,244}}</string>
                <key>offset</key>
                <string>{-60,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,552},{220,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,224},{220,242}}</string>
                <key>offset</key>
                <string>{-59,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,553},{220,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,710},{222,242}}</string>
                <key>offset</key>
                <string>{-58,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,552},{222,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,728},{226,242}}</string>
                <key>offset</key>
                <string>{-57,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,552},{226,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,486},{228,240}}</string>
                <key>offset</key>
                <string>{-55,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,554},{228,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{232,240}}</string>
                <key>offset</key>
                <string>{-55,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,556},{232,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{232,240}}</string>
                <key>offset</key>
                <string>{-54,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,557},{232,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,240}}</string>
                <key>offset</key>
                <string>{-55,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,558},{234,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{232,240}}</string>
                <key>offset</key>
                <string>{-55,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,558},{232,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,244},{232,240}}</string>
                <key>offset</key>
                <string>{-57,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,559},{232,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{228,242}}</string>
                <key>offset</key>
                <string>{-57,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,557},{228,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,728},{226,242}}</string>
                <key>offset</key>
                <string>{-58,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,557},{226,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,486},{222,244}}</string>
                <key>offset</key>
                <string>{-59,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,554},{222,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.pvr.gz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2f6d79b79e16da653cacfe165b2b54f:fe4b150902abd8f3cc377bd84d857e9f:359640a2e8e61c804661e0160b9729f0$</string>
            <key>textureFileName</key>
            <string>stand.pvr.gz</string>
        </dict>
    </dict>
</plist>
