<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_s2_run0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,330},{154,168}}</string>
                <key>offset</key>
                <string>{-17,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,478},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{150,166}}</string>
                <key>offset</key>
                <string>{-28,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,481},{150,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,808},{152,164}}</string>
                <key>offset</key>
                <string>{-34,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,484},{152,164}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,640},{168,166}}</string>
                <key>offset</key>
                <string>{-30,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,482},{168,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{176,166}}</string>
                <key>offset</key>
                <string>{-25,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,481},{176,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,150},{178,172}}</string>
                <key>offset</key>
                <string>{-16,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,477},{178,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,324},{174,166}}</string>
                <key>offset</key>
                <string>{-12,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,476},{174,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,674},{164,166}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,480},{164,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,500},{156,172}}</string>
                <key>offset</key>
                <string>{-11,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,482},{156,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{150,174}}</string>
                <key>offset</key>
                <string>{-16,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,484},{150,174}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,492},{146,174}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,485},{146,174}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,150},{138,178}}</string>
                <key>offset</key>
                <string>{-25,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,483},{138,178}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,186}}</string>
                <key>offset</key>
                <string>{-22,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,477},{128,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,192}}</string>
                <key>offset</key>
                <string>{-10,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,471},{140,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{146,186}}</string>
                <key>offset</key>
                <string>{-8,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,470},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{152,170}}</string>
                <key>offset</key>
                <string>{-13,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,471},{152,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_s2_run.pvr.gz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:350305a460fae6a885079421da5522e2$</string>
            <key>textureFileName</key>
            <string>p1_s2_run.pvr.gz</string>
        </dict>
    </dict>
</plist>
