<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_s2_attack20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,202},{156,194}}</string>
                <key>offset</key>
                <string>{-36,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,470},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{140,194}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,470},{140,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,612},{136,190}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,474},{136,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,628},{132,196}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,468},{132,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{138,210}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,454},{138,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,210}}</string>
                <key>offset</key>
                <string>{-7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,453},{170,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{184,206}}</string>
                <key>offset</key>
                <string>{-16,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,457},{184,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{182,198}}</string>
                <key>offset</key>
                <string>{-25,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,465},{182,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,806},{174,190}}</string>
                <key>offset</key>
                <string>{-34,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,473},{174,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,198},{164,192}}</string>
                <key>offset</key>
                <string>{-46,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,471},{164,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,612},{144,192}}</string>
                <key>offset</key>
                <string>{-31,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,471},{144,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{132,208}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,455},{132,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,392},{142,164}}</string>
                <key>offset</key>
                <string>{-5,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,500},{142,164}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,576},{174,156}}</string>
                <key>offset</key>
                <string>{-8,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,508},{174,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{192,158}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,506},{192,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,214},{200,162}}</string>
                <key>offset</key>
                <string>{-13,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,502},{200,162}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,426},{200,166}}</string>
                <key>offset</key>
                <string>{-13,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,498},{200,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,416},{194,170}}</string>
                <key>offset</key>
                <string>{-14,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,494},{194,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{178,174}}</string>
                <key>offset</key>
                <string>{-13,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,490},{178,174}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,844},{156,178}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,486},{156,178}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,392},{146,182}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,482},{146,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,804},{156,188}}</string>
                <key>offset</key>
                <string>{-23,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,476},{156,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_s2_attack2.pvr.gz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2df3e2b74b54be242258daa152f1a18b$</string>
            <key>textureFileName</key>
            <string>p1_s2_attack2.pvr.gz</string>
        </dict>
    </dict>
</plist>
