<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_s2_hit0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{156,194}}</string>
                <key>offset</key>
                <string>{-36,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,469},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{148,180}}</string>
                <key>offset</key>
                <string>{-19,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,483},{148,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{144,176}}</string>
                <key>offset</key>
                <string>{-58,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,487},{144,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,848},{144,170}}</string>
                <key>offset</key>
                <string>{-83,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,493},{144,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,702},{144,170}}</string>
                <key>offset</key>
                <string>{-92,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,492},{144,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,722},{140,174}}</string>
                <key>offset</key>
                <string>{-97,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,488},{140,174}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,558},{142,186}}</string>
                <key>offset</key>
                <string>{-98,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,476},{142,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{136,192}}</string>
                <key>offset</key>
                <string>{-95,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,471},{136,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,428},{128,194}}</string>
                <key>offset</key>
                <string>{-91,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,469},{128,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{126,196}}</string>
                <key>offset</key>
                <string>{-85,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,467},{126,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,138},{130,196}}</string>
                <key>offset</key>
                <string>{-77,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,467},{130,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{134,196}}</string>
                <key>offset</key>
                <string>{-66,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,467},{134,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,196}}</string>
                <key>offset</key>
                <string>{-51,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,467},{144,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_hit0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,270},{156,194}}</string>
                <key>offset</key>
                <string>{-36,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,469},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_s2_hit.pvr.gz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ef5960e3e5deb12df756ac8fe16f8ed$</string>
            <key>textureFileName</key>
            <string>p1_s2_hit.pvr.gz</string>
        </dict>
    </dict>
</plist>
