<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_s2_attack30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{156,194}}</string>
                <key>offset</key>
                <string>{-36,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,470},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{164,192}}</string>
                <key>offset</key>
                <string>{-39,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,472},{164,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{166,192}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,472},{166,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,656},{166,192}}</string>
                <key>offset</key>
                <string>{-35,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,473},{166,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,168},{166,190}}</string>
                <key>offset</key>
                <string>{-26,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,477},{166,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,850},{166,172}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,478},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,318},{150,180}}</string>
                <key>offset</key>
                <string>{20,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,475},{150,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,198},{142,184}}</string>
                <key>offset</key>
                <string>{35,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{476,473},{142,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{128,222}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,440},{128,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{146,230}}</string>
                <key>offset</key>
                <string>{25,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,432},{146,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{140,234}}</string>
                <key>offset</key>
                <string>{28,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,428},{140,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,236}}</string>
                <key>offset</key>
                <string>{41,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,426},{114,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,476},{126,218}}</string>
                <key>offset</key>
                <string>{67,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,444},{126,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30013.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,450},{204,158}}</string>
                <key>offset</key>
                <string>{109,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{519,504},{204,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30014.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,700},{220,96}}</string>
                <key>offset</key>
                <string>{123,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{525,566},{220,96}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,916},{218,98}}</string>
                <key>offset</key>
                <string>{121,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{524,564},{218,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{218,100}}</string>
                <key>offset</key>
                <string>{124,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{527,562},{218,100}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{220,106}}</string>
                <key>offset</key>
                <string>{122,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{524,556},{220,106}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30018.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,696},{218,110}}</string>
                <key>offset</key>
                <string>{119,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{522,552},{218,110}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30019.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{214,114}}</string>
                <key>offset</key>
                <string>{116,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{521,548},{214,114}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,234},{214,128}}</string>
                <key>offset</key>
                <string>{110,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{515,534},{214,128}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30021.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,218},{204,144}}</string>
                <key>offset</key>
                <string>{102,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{512,518},{204,144}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30022.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,650},{176,152}}</string>
                <key>offset</key>
                <string>{85,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{509,503},{176,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30023.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,470},{150,166}}</string>
                <key>offset</key>
                <string>{52,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,494},{150,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30024.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,470},{140,178}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,486},{140,178}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,170},{146,186}}</string>
                <key>offset</key>
                <string>{-17,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,478},{146,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_s2_attack3.pvr.gz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b484a63338d965e7f5ec599ee280bae$</string>
            <key>textureFileName</key>
            <string>p1_s2_attack3.pvr.gz</string>
        </dict>
    </dict>
</plist>
