<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_s2_stand0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{156,194}}</string>
                <key>offset</key>
                <string>{-36,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,469},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{154,194}}</string>
                <key>offset</key>
                <string>{-34,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,469},{154,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,394},{156,192}}</string>
                <key>offset</key>
                <string>{-34,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,471},{156,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{154,190}}</string>
                <key>offset</key>
                <string>{-32,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,473},{154,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,780},{154,190}}</string>
                <key>offset</key>
                <string>{-31,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,473},{154,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{156,188}}</string>
                <key>offset</key>
                <string>{-30,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,475},{156,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,192},{156,186}}</string>
                <key>offset</key>
                <string>{-29,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,477},{156,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,162},{158,184}}</string>
                <key>offset</key>
                <string>{-29,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,479},{158,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{158,184}}</string>
                <key>offset</key>
                <string>{-28,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,479},{158,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{158,184}}</string>
                <key>offset</key>
                <string>{-28,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,479},{158,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{158,184}}</string>
                <key>offset</key>
                <string>{-29,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,479},{158,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,384},{158,186}}</string>
                <key>offset</key>
                <string>{-29,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,477},{158,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,194},{158,188}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,475},{158,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{158,190}}</string>
                <key>offset</key>
                <string>{-33,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,473},{158,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,588},{156,190}}</string>
                <key>offset</key>
                <string>{-33,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,473},{156,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{156,192}}</string>
                <key>offset</key>
                <string>{-35,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,471},{156,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_stand0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,194}}</string>
                <key>offset</key>
                <string>{-36,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,469},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_s2_stand.pvr.gz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64aacc400da3e0625c9c2586f2268e56$</string>
            <key>textureFileName</key>
            <string>p1_s2_stand.pvr.gz</string>
        </dict>
    </dict>
</plist>
