<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_s2_attack40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,624},{156,194}}</string>
                <key>offset</key>
                <string>{-36,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,470},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,642},{154,188}}</string>
                <key>offset</key>
                <string>{-34,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,476},{154,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{154,180}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,484},{154,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,958},{152,172}}</string>
                <key>offset</key>
                <string>{-30,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,492},{152,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{150,170}}</string>
                <key>offset</key>
                <string>{-29,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,494},{150,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,934},{150,170}}</string>
                <key>offset</key>
                <string>{-29,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,494},{150,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,782},{150,188}}</string>
                <key>offset</key>
                <string>{-32,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,478},{150,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,346},{136,204}}</string>
                <key>offset</key>
                <string>{-32,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,451},{136,204}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,454},{168,208}}</string>
                <key>offset</key>
                <string>{-51,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,431},{168,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,346},{198,208}}</string>
                <key>offset</key>
                <string>{-73,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,419},{198,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,446},{210,194}}</string>
                <key>offset</key>
                <string>{-86,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,418},{210,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{210,188}}</string>
                <key>offset</key>
                <string>{-85,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,413},{210,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{214,180}}</string>
                <key>offset</key>
                <string>{-72,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,415},{214,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40013.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,154},{190,212}}</string>
                <key>offset</key>
                <string>{-47,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,392},{190,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40014.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,290},{154,220}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,422},{154,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{234,150}}</string>
                <key>offset</key>
                <string>{59,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,514},{234,150}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40016.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{238,142}}</string>
                <key>offset</key>
                <string>{63,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,522},{238,142}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,140}}</string>
                <key>offset</key>
                <string>{64,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,524},{240,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{238,140}}</string>
                <key>offset</key>
                <string>{63,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,524},{238,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{236,142}}</string>
                <key>offset</key>
                <string>{62,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,522},{236,142}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,146},{236,142}}</string>
                <key>offset</key>
                <string>{60,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,522},{236,142}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40021.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{236,146}}</string>
                <key>offset</key>
                <string>{58,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,518},{236,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40022.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,150},{228,148}}</string>
                <key>offset</key>
                <string>{52,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,516},{228,148}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40023.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,300},{212,152}}</string>
                <key>offset</key>
                <string>{45,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,512},{212,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40024.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,552},{186,160}}</string>
                <key>offset</key>
                <string>{33,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,504},{186,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40025.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,846},{158,172}}</string>
                <key>offset</key>
                <string>{19,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,492},{158,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40026.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,798},{134,184}}</string>
                <key>offset</key>
                <string>{7,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,480},{134,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40027.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,840},{116,192}}</string>
                <key>offset</key>
                <string>{-8,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,472},{116,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40028.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,714},{124,194}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,470},{124,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40029.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,704},{140,194}}</string>
                <key>offset</key>
                <string>{-28,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,470},{140,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>p1_s2_attack40030.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,546},{156,194}}</string>
                <key>offset</key>
                <string>{-36,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,470},{156,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_s2_attack4.pvr.gz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68a5fd70ae555f9bf04ae4fcf354732a$</string>
            <key>textureFileName</key>
            <string>p1_s2_attack4.pvr.gz</string>
        </dict>
    </dict>
</plist>
